.button {
  border: 0;
  border-radius: 4.8px;

  font-family: var(--font-primary);
  font-weight: 600;
  color: var(--black);

  cursor: pointer;
  user-select: none;

  transition: background 0.3s ease-out, color 0.3s ease-out;

  /* responsive */

  min-width: 120px;
  padding: 19.2px 19.2px;

  font-size: 19.2px;
  line-height: 28.8px;
}

.button--compact {
  /* responsive */

  padding: 12px 19.2px;

  font-size: 19.2px;
  line-height: 19.2px;
}

.button--pad {
  display: inline-block;
  margin-bottom:10px;  
  
}

.button--primary {
  background-color: var(--color3);
  color: var(--white)
}

.button--primary:hover {
  background: var(--color2);
}

.button--secondary {
  background-color: rgb(165, 165, 165);
  color: var(--black);
}

.button--secondary:hover {
  background: rgba(148, 106, 255, 0.85);
}

.button--third {
  background-color: rgb(124, 196, 0);
  color: var(--black);
}

.button--third:hover {
  background: rgba(148, 106, 255, 0.85);
}

.button--red {
  background-color: rgba(249, 138, 138, 0.904);
  color: var(--black);
}

.button--red:hover {
  background: rgba(148, 106, 255, 0.85);
}

@media only screen and (max-width: 480px) {
  .button {
    /* responsive */

    min-width: 9.6px;
    padding: 12px 14.4px;

    font-size: 15.6px;
    line-height: 26.4px;
  }

  .button--compact {
    /* responsive */

    padding: 7.2px 12px;

    font-size: 15.6px;
    line-height: 24px;
  }
}
