.code-snippet {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 9.6px;
  overflow: hidden;
}

.code-snippet__title {
  height: 57.6px;
  width: 100%;

  background-color: rgb(189, 196, 207);
  color: var(--black);

  font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  font-weight: 600;

  /*  responsive */

  font-size: 19.2px;
  line-height: 28.8px;
  padding: 14.4px 19.2px;
}

.code-snippet__container {
  background-color: var(--dark-aluminium);

  overflow-x: auto;
}

.code-snippet__wrapper {
  display: inline-block;
  padding: 32px;
  min-height: 216px;
}

.code-snippet__body {
  margin: 0;

  color: var(--white);
  font-size: 16px;
  line-height: 32px;
  word-wrap: break-word;
  white-space: pre-wrap;
}

@media only screen and (max-width: 480px) {
  .code-snippet__title {
    /*  responsive */

    height: 52.8px;

    font-size: 16.8px;
    line-height: 26.4px;
    padding: 14.4px 19.2px;
  }

  .code-snippet__wrapper {
    padding: 19.2px;
  }

  .code-snippet__body {
    font-size: 16.8px;
    line-height: 28.8px;
  }
}
