.footer {
  display: flex;
  justify-content: center;
  flex-shrink: 0;

  width: 100%;

  margin-top: 2.4rem;

  background-color: var(--dark-aluminium);

  color: var(--light-aluminium);
  font-weight: 500;
  text-align: center;

  /* responsive */

  font-size: 1.6rem;
  line-height: 2.4rem;
}

.footer-grid {
  display: grid;
  grid-template-rows: auto auto;

  width: 100%;
  max-width: 120rem;

  /* responsive */

  padding: 3.2rem;
}

.footer-grid__info {
  display: grid;

  /* responsive */

  grid-template-columns: 1.5fr 1fr auto;
  column-gap: 2.4rem;
}

.footer-grid__brand {
  display: grid;

  justify-items: center;

  grid-template-columns: 1fr;
  margin-top: 3.2rem;
}

.footer-info__message {
  /* responsive */

  text-align: left;
}

.footer-message__headline {
  margin: 0 0 1.4rem;

  font-weight: 500;
}

.footer-message__description {
  margin-bottom: 0;

  letter-spacing: 0.016rem;
}

.footer-info__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-info__resource-list {
  display: grid;

  /* responsive */

  row-gap: 0.8rem;
}

.footer-info__resource-list-item {
  text-align: right;
}

.footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.footer-brand__logo {
  width: 20px;
  margin-right: 12px;
}

.footer__hyperlink {
  letter-spacing: 0.001rem;
}

.footer__hyperlink,
.footer__hyperlink:active,
.footer__hyperlink:visited {
  color: var(--black);
}

.footer__hyperlink:hover {
  color: var(--aluminium);
}

@media only screen and (max-width: 960px) {
  .footer {
    /* responsive */

    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .footer-grid {
    /* responsive */

    padding: 3.2rem;
  }

  .footer-grid__info {
    /* responsive */

    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .footer-info__message {
    /* responsive */

    text-align: center;
  }

  .footer-info__resource-list {
    /* responsive */

    grid-template-columns: 1fr 1fr;
    row-gap: 3.2rem;
    column-gap: 3.2rem;
  }

  .footer-info__resource-list-item:nth-child(odd) {
    text-align: right;
  }

  .footer-info__resource-list-item:nth-child(even) {
    text-align: left;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    /* responsive */

    font-size: 1.4rem;
    line-height: 2.2rem;
  }

  .footer-grid {
    /* responsive */

    padding: 3.2rem 1.6rem;
  }

  .footer-grid__info {
    /* responsive */

    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .footer-info__message {
    /* responsive */

    text-align: center;
  }

  .footer-info__resource-list {
    /* responsive */

    grid-template-columns: 1fr 1fr;
    row-gap: 3.2rem;
    column-gap: 3.2rem;
  }

  .footer-info__resource-list-item:nth-child(odd) {
    text-align: right;
  }

  .footer-info__resource-list-item:nth-child(even) {
    text-align: left;
  }
}
