.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  background: linear-gradient(to bottom right, var(--color1) 23%, var(--color2) 89%);
  
  color: var(--color3);

  /* responsive */

  margin: 0 auto;
  padding: 38.4px 76.8px;
}

.hero-banner__logo {
  /* responsive */

  width: 321px;
  height: 153.6px;
}

.hero-banner__headline {
  letter-spacing: -1.5px;

  /* responsive */

  margin: 28.8px 0 8px 0;

  font-size: 57.6px;
}

.hero-banner__description {
  /* max-width: 696px; */

  text-align: center;

  /* responsive */

  margin-bottom: 38.4px;
  font-size: 36px;
  line-height: 28.8px;
  /* font-size: 20px; */
  /* line-height: 38.4px; */
}

@media only screen and (max-width: 540px) {
  .hero-banner {
    padding: 38.4px 19.2px;
  }

  .hero-banner__logo {
    width: 241.2px;
    height: 115.2px;
  }

  .hero-banner__headline {
    font-size: 38.4px;
  }
}
