.ohack-features {
  /* responsive */

  padding: 3.2rem 6.4rem;
}

.ohack-features__title {
  color: var(--black);
  font-weight: 600;
  text-align: center;

  /* responsive */

  margin-top: 0;
  margin-bottom: 4.8rem;

  font-size: 3.2rem;
  line-height: 3.2rem;
}

.ohack-features__grid {
  display: grid;

  /* responsive */

  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 6.4rem;
}

.ohack-feature {
  background-color:deepskyblue;

  color: var(--black);

  cursor: pointer;

  transition: all 0.3s ease-in-out 0s;

  /* responsive */

  padding: 4.8rem;

  border-radius: 1.6rem;
}

.ohack-feature:hover {
  transform: scale(1.03);
}

.ohack-feature__headline {
  display: flex;
  align-items: center;

  margin-top: 0;

  color: var(--black);
  font-weight: 600;
  letter-spacing: -0.05rem;

  /* responsive */

  font-size: 2.4rem;
  line-height: 3.2rem;
}

.ohack-feature__icon {
  /* responsive */

  margin-right: 1.6rem;
}

.ohack-feature:hover .ohack-feature__headline {
  text-decoration: underline solid 2px var(--black);
  text-underline-offset: 2px;

  transition: all 0.3s ease-in-out 0s;
}

.ohack-feature__description {
  margin: 0;

  color: rgb(36, 36, 36);
  font-weight: 500;

  opacity: 0.7;

  /* responsive */

  font-size: 1.6rem;
  line-height: 2.4rem;
}

.ohack-feature__callout_mono {
  margin: 0;

  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  opacity: 0.7;

  /* responsive */

  font-size: 1.6rem;
  line-height: 2.4rem;
}

.ohack-feature__callout {
  margin: 0;

  color: rgb(118, 0, 137);
  font-weight: 500;

  opacity: 0.7;

  /* responsive */

  font-size: 1.6rem;
  line-height: 2.4rem;
}

.ohack-feature__warning {
  color: #ed6c02;
}


.ohack-feature__list {
  /* Remove margins */
  margin: 0;

  /* Remove padding */
  padding: 0;
  padding-left: 10px;
    
    
  font-weight: 500;

  /* Remove bullets */
  list-style-type: none;
    
  /* responsive */
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media only screen and (max-width: 900px) {
  .ohack-features__grid {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .ohack-feature {
    padding: 3.2rem;
    border-radius: 0.8rem;
  }

  .ohack-feature__headline {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .ohack-feature__icon {
    height: 3.6rem;

    margin-right: 1.6rem;
  }

  .ohack-feature__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .ohack-features {
    padding: 1.6rem;
  }

  .ohack-features__title {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .ohack-features__grid {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }

  .ohack-feature {
    padding: 3.2rem;
    border-radius: 0.8rem;
  }

  .ohack-feature__headline {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .ohack-feature__icon {
    height: 3.6rem;

    margin-right: 1.6rem;
  }

  .ohack-feature__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}
