REACT_APP_AUTH0_DOMAIN=<TODO>
REACT_APP_AUTH0_CLIENT_ID=<TODO>
REACT_APP_AUTH0_AUDIENCE=<TODO>
REACT_APP_API_SERVER_URL=http://localhost:6060

REACT_APP_AUTH0_USER_MGMT_CLIENT_ID=<TODO>
REACT_APP_AUTH0_USER_MGMT_SECRET=<TODO>