# Backend API server
NEXT_PUBLIC_API_SERVER_URL=<TODO>

# NodeJS API server, used for email management
NEXT_PUBLIC_API_NODEJS_SERVER_URL=<TODO>

# Auth0
NEXT_PUBLIC_AUTH0_DOMAIN=<TODO>
NEXT_PUBLIC_AUTH0_CLIENT_ID=<TODO>
NEXT_PUBLIC_AUTH0_USER_MGMT_CLIENT_ID=<TODO>
NEXT_PUBLIC_AUTH0_USER_MGMT_SECRET=<TODO>
NEXT_PUBLIC_AUTH0_AUDIENCE=<TODO>

# Analytics
NEXT_PUBLIC_GOOGLE_ANALYTICS=DISABLED
NEXT_PUBLIC_FACEBOOK_PIXEL_ID=DISABLED

# reCAPTCHA v3 (get keys from https://www.google.com/recaptcha/admin)
NEXT_PUBLIC_GOOGLE_CAPTCHA_SITE_KEY=<TODO>

# Signup with Slack
NEXT_PUBLIC_SLACK_SIGNUP_LINK=<TODO>