.checklist-box-list{        
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    
    background-color: rgb(187, 220, 252);
    color: rgb(0, 0, 0);
    
    max-width: 700px;
    
    -webkit-font-smoothing: antialiased;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-box-pack: center;
}

.checklist-box {        
    color: rgb(83, 80, 252);
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24

}
