/* General */

* {
  box-sizing: border-box;
}

html {
  font-size: 11px;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--white);

  color: var(--black);
  font-family: var(--font-primary);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 600;
  color: rgba(0, 0, 0, 0.86);
}

h1,
h2,
h3 {
  margin-top: 3.2rem;
  margin-bottom: 1.6rem;
}

h4,
h5,
h6 {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

p {
  margin: 0 0 1.6rem;
}

strong {
  font-weight: 500;
}

small {
  font-size: 1.2rem;
}

blockquote {
  padding: 1.6rem 3.2rem;
  margin: 0 0 3.2rem;

  border-left: 8px solid #eee;

  font-size: 1.6rem;
  font-style: italic;
}

body,
button,
input,
select,
textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
    color: var(--black);
    text-decoration: none;
}

figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

code,
pre {
  font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas,
    "Courier New", monospace;
  width: 100%;
}

#root {
  height: 100%;
  width: 100%;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: gray;
  border-radius: 5px;
}

.button--filter {
  /* responsive */

  padding: 12rem 1.6rem;

  font-size: 10.6rem;
  line-height: 1.6rem;
}

.material-symbols-outlined {
  color: green;
  font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 48
}

.alert-notification {
  color: blue;
  font-size: 24pt;
  font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.admin-notification {
  color: gold;
  font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}

.indent {
  margin-top: 6px;
  margin-left: 10px;
  font-size: larger;
}

.checklist-box-list {
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;

  background-color: rgb(187, 220, 252);
  color: rgb(0, 0, 0);

  max-width: 700px;

  -webkit-font-smoothing: antialiased;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -webkit-box-pack: center;
}

.checklist-box {
  color: rgb(83, 80, 252);
  font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24
}


.ohack-features {
  /* responsive */

  padding: 3.2rem 6.4rem;
}

.ohack-features__title {
  color: var(--black);
  font-weight: 600;
  text-align: center;

  /* responsive */

  margin-top: 0;
  margin-bottom: 4.8rem;

  font-size: 3.2rem;
  line-height: 3.2rem;
}

.ohack-features__grid {
  display: grid;

  /* responsive */

  grid-template-columns: 1fr 1fr;
  column-gap: 6.4rem;
  row-gap: 6.4rem;
}

.ohack-nonprofit-feature {
  background-color: var(--color4);/* rgb(187, 220, 252);*/
  color: var(--black);
  cursor: pointer;

  /* responsive */
  padding: 4.8rem;
  border-radius: 1.6rem;
}

.ohack-nonprofit-feature-helping {
  background-color: rgb(130, 177, 152);
  color: var(--black);
  cursor: pointer;

  /* responsive */
  padding: 4.8rem;
  border-radius: 1.6rem;
}

.ohack-problemstatement-feature {
  background-color: rgb(187, 220, 252);
  color: var(--black);
  cursor: pointer;

  /* responsive */
  padding: 4.8rem;
  border-radius: 1.6rem;
}

.ohack-feature {
  background-color: var(--color5);/*rgb(187, 220, 252);*/

  color: var(--color3);

  cursor: pointer;

  transition: all 0.3s ease-in-out 0s;

  /* responsive */

  padding: 4.8rem;

  border-radius: 1.6rem;
}

.ohack-feature:hover {
  transform: scale(1.03);
}

.ohack-feature__headline {
  display: flex;
  align-items: center;

  margin-top: 0;

  color: var(--white); /*rgb(36, 36, 36);*/;
  font-weight: 600;
  letter-spacing: -0.05rem;

  /* responsive */

  font-size: 2.4rem;
  line-height: 3.2rem;
}

.ohack-feature__icon {
  /* responsive */

  margin-right: 1.6rem;
}

.ohack-feature:hover .ohack-feature__headline {
  text-decoration: underline solid 2px var(--white);
  text-underline-offset: 2px;

  transition: all 0.3s ease-in-out 0s;
}

.ohack-feature__description {
  margin: 0;

  color: var(--white); /*rgb(36, 36, 36);*/
  font-weight: 500;

  opacity: 0.7;

  /* responsive */

  font-size: 1.6rem;
  line-height: 2.4rem;
}

.ohack-feature__callout_mono {
  margin: 0;

  color: rgb(0, 0, 0);
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  
  /* responsive */
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.ohack-feature__callout {
  margin: 0;

  color: rgb(118, 0, 137);
  font-weight: 500;

  opacity: 0.7;

  /* responsive */

  font-size: 1.6rem;
  line-height: 2.4rem;
}

.ohack-feature__warning {
  color: #ed6c02;
}


.ohack-feature__list {
  /* Remove margins */
  margin: 0;

  /* Remove padding */
  padding: 0;
  padding-left: 10px;


  font-weight: 500;

  /* Remove bullets */
  list-style-type: none;

  /* responsive */
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@media only screen and (max-width: 900px) {
  .ohack-features__grid {
    grid-template-columns: 1fr;
    row-gap: 3.2rem;
  }

  .ohack-feature {
    padding: 3.2rem;
    border-radius: 0.8rem;
  }

  .ohack-feature__headline {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .ohack-feature__icon {
    height: 3.6rem;

    margin-right: 1.6rem;
  }

  .ohack-feature__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

@media only screen and (max-width: 480px) {
  .ohack-features {
    padding: 1.6rem;
  }

  .ohack-features__title {
    font-size: 2rem;
    line-height: 2.8rem;
    margin-bottom: 2.4rem;
  }

  .ohack-features__grid {
    grid-template-columns: 1fr;
    row-gap: 1.6rem;
  }

  .ohack-feature {
    padding: 3.2rem;
    border-radius: 0.8rem;
  }

  .ohack-feature__headline {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .ohack-feature__icon {
    height: 3.6rem;

    margin-right: 1.6rem;
  }

  .ohack-feature__description {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.headline {
  font-size: 2.5rem;
  font-weight: bold;
}
.headline span {
  color: #007bff; 
}

.headline {
  line-height: 1.5;
  margin-top: 20px;
 
}


