.parent{
    display: grid;
    grid-template-columns: 70% 20%;
    width: 100%;
    background-color: #7B68EE;
    
}
.header{
    height: 50px;
    font-size: 24px;
    padding: 10px;
}
.text_area{
    height: 50vh;
}
.container { 
    display: grid; 
    grid-auto-flow: column;
    grid-column-gap: 10px;
    width: 80%;
    height: 80%;
}
 .button {
    display: flex;
    display: inline-block;
    justify-content: space-around;
    width: 47%;
    border: 5px solid rgba(10, 2, 2, 0);
    padding: 1rem 1rem;
    margin: 1rem 1rem  1rem 0;
    vertical-align: middle;
}

#newsletterForm {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.title {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    text-align: center;
    font-size: x-large;
}

.contents{ 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 20px;
    font-size: x-large;
    min-height: fit-content;
    max-height: 100px;

}

.testing { 
    display: flex; 
    margin: 20px 0; 
    justify-content: end;
}
.users {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: white;
    border: 1px solid black;
    height: 70%;
    width: 90%;
    padding: 0px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 70px;
    list-style: disc;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.text_area_subs{
    height: 60vh;
    font-size: medium;
}