.material-symbols-outlined {
    color:green;
    font-variation-settings:
        'FILL' 1,
        'wght' 600,
        'GRAD' 0,
        'opsz' 48
}

.alert-notification {
    color:blue;
    font-size: 24pt;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.admin-notification {
    color: gold;
    font-variation-settings:
        'FILL' 1,
        'wght' 300,
        'GRAD' 0,
        'opsz' 24
}

.indent {
    margin-top: 6px;
    margin-left: 10px;
    font-size: larger;
}